<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div style="text-align: center">
        <h2>Hello, admin!</h2>
    </div>
    <div style="text-align: center; margin-top: 15px">
        <h3>All clients</h3>
        <table align="center" border="1px">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Phone</td>
                <td>Phone 2</td>
                <td>Phone 3</td>
                <td>Email</td>
                <td>Skype</td>
                <td>Facebook</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>

            <th:block th:each="client : ${clients}">
                <tr>
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.surname}"></td>
                    <td th:text="${client.phone}"></td>
                    <td th:text="${client.phone2}"></td>
                    <td th:text="${client.phone3}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.skype}"></td>
                    <td th:text="${client.facebook}"></td>
                    <td th:text="${client.role}"></td>
                    <td>
                            <button name="submit" value="value" class="link-button">
                                <a th:href="@{/admin/client/edit(clientId=${client.id})}">
                                    Edit
                                </a>
                            </button>
                        <form method="POST" th:action="@{/admin/client/delete(clientId=${client.id})}">
                            <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <div align="center" style="margin-top: 10px">
        <button><a href="/register">Register new client</a></button>
    </div>
    <div align="center" style="margin-top: 10px">
        <button><a href="/logout">Log out</a></button>
    </div>
</body>
</html>