<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/fontAwesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<title>Accounts</title>
</head>
<body class="bg-light-green color-grey1">

	<div id="addUserModalHolder">
		<div th:replace="register_client_modal :: addUserModal"></div>
	</div>

	<div th:replace="navbar :: navbar"></div>

	<div class="container">
		<h4 class="text-uppercase">
			All Clients
		</h4>
	</div>

	<div class="container tabs">
	</div>
	
	<div class="container">
		<div>
			<div th:if="${clients.empty}">
				<div class="m-bot-10">There are no clients yet</div>
				<button class="btn btn-success" th:onclick="'javascript:openAddingModal();'">Add new client</button>
			</div>
			<div th:if="${!clients.empty}">
				<table class="table table-sm table-responsive">
					<thead>
						<tr class="table-light table-bg">
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phones</th>
							<th>Email</th>
							<th>Skype</th>
							<th>Facebook</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="client : ${clients}"
								  th:object="${client}"
								  th:if="${client.role == T(ua.kiev.prog.UserRole).USER}"
								  >
							<tr class="table-light">
								<th th:text="${client.id}"></th>
								<td th:text="${client.name}"></td>
								<td th:text="${client.surname}"></td>
								<td>
									<ul class="list-group">
										<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
									</ul>
								</td>
								<td th:text="${client.email}"></td>
								<td th:text="${client.skype}"></td>
								<td th:text="${client.facebook}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<div class="pagination_panel">
					<div class="empty-block-01"></div>
					<div class="navigation-num">
						<nav aria-label="Page navigation" class="p-2">
							<ul class="pagination mb-0 justify-content-center">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="btn-newclient">
						<button class="btn btn-success fl-r" th:onclick="'javascript:openAddingModal();'">Add new client</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/libs/popper/popper.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<script src="/js/main.js"></script>

	<script type="text/javascript">
        //<![CDATA[
        function openAddingModal() {
            $.ajax({
                url: '/clients/create',
                success: function (data) {
                    console.log(data);
                    $("#addUserModalHolder").html(data);
                    $("#addUserModal").modal("show");
                }
            })
        }
        //]]>
	</script>
</body>
</html>