<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/fontAwesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/DataTables/datatables.min.css"/>
	<title>Title</title>
</head>
<body class="bg-light-green color-grey1">
	<div id="deleteUserModalHolder">
		<div th:replace="delete_client_modal :: deleteUserModal"></div>
	</div>
	<div id="editUserModalHolder">
		<div th:replace="edit_client_modal :: editUserModal"></div>
	</div>
	<div id="addUserModalHolder">
		<div th:replace="register_client_modal :: addUserModal"></div>
	</div>

	<div th:replace="navbar :: navbar"></div>

	<div class="container m-top-50">
		<h4 class="text-uppercase allusers_01">
			All Users
		</h4>
		<div class="clients-managers tab">
			<button class="tablinks tablinks1 f-l" onclick="showClients(event, 'users')" id="defaultOpen">
				Clients
			</button>
			<div class="breadcrumb_01 f-l"></div>
			<button class="tablinks tablinks1 f-l" onclick="showClients(event, 'managers')">Managers</button>
		</div>
		<div class="clear_both"></div>
	</div>

	<div class="container tabs">
	</div>
	
	<div class="container">
		<div class="tabcontent" id="users">

			<div th:if="${numUsers} == 0">
				<div class="m-bot-10">There are no clients yet</div>
				<button class="btn btn-success" th:onclick="'javascript:openAddingModal();'">Add new client</button>
			</div>
			<div th:if="${numUsers} > 0">
				<table id="clientsTable" class="table table-sm table-responsive">
					<thead>
						<tr class="table-light table-bg">
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phones</th>
							<th>Email</th>
							<th>Skype</th>
							<th>Facebook</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="client : ${clients}"
								  th:object="${client}"
								  th:if="${client.role == T(ua.kiev.prog.UserRole).USER}"
								  >
							<tr class="table-light">
								<td th:text="${client.name}"></td>
								<td th:text="${client.surname}"></td>
								<td>
									<ul class="list-group">
										<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
									</ul>
								</td>
								<td th:text="${client.email}"></td>
								<td th:text="${client.skype}"></td>
								<td th:text="${client.facebook}"></td>
								<td>
									<button th:onclick="'javascript:openEditingModal(\'' + ${client.id} + '\');'" class="btn btn-yellow">Edit</button>
									<button th:onclick="'javascript:openDeletingModal(\'' + ${client.id} + '\');'" class="btn btn-red">Delete</button>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<button class="btn btn-success fl-r btn-newclient" th:onclick="'javascript:openAddingModal();'">Add new client</button>
			</div>
		</div>

		<div class="tabcontent" id="managers">
			<div th:if="${numManagers} == 0">
				<div class="m-bot-10">There are no managers yet</div>
			</div>
			<div th:if="${numManagers} > 0">
				<table id="managersTable" class="table table-sm table-responsive">
					<thead>
					<tr class="table-light table-bg">
						<th>First Name</th>
						<th>Last Name</th>
						<th>Phones</th>
						<th>Email</th>
						<th>Skype</th>
						<th>Facebook</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					<th:block th:each="client : ${clients}"
							  th:object="${client}"
							  th:if="${client.role == T(ua.kiev.prog.UserRole).MANAGER}">
						<tr class="table-light">
							<td th:text="${client.name}"></td>
							<td th:text="${client.surname}"></td>
							<td>
								<ul class="list-group">
									<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
									<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
									<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
								</ul>
							</td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.skype}"></td>
							<td th:text="${client.facebook}"></td>
							<td>
								<button th:onclick="'javascript:openEditingModal(\'' + ${client.id} + '\');'" class="btn btn-yellow">Edit</button>
								<button th:onclick="'javascript:openDeletingModal(\'' + ${client.id} + '\');'" class="btn btn-red">Delete</button>
							</td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<script src="/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/libs/popper/popper.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript" src="/libs/DataTables/datatables.min.js"></script>
	<script type="text/javascript">
      //<![CDATA[
      function showClients(evt, name) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      console.log(tabcontent.length);
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(name).style.display = "block";
      evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();

      function openDeletingModal(id) {
		  $.ajax({
			  url: '/clients/' + id,
			  success: function (data) {
                  $("#deleteUserModalHolder").html(data);
                  $("#deleteUserModal").modal("show");
              }
		  })
      }

      function openEditingModal(id) {
          $.ajax({
              url: '/admin/clients/edit/' + id,
              success: function (data) {
                  $("#editUserModalHolder").html(data);
                  $("#editUserModal").modal("show");
              }
          })
      }

      function openAddingModal() {
          $.ajax({
              url: '/clients/create',
              success: function (data) {
                  console.log(data);
                  $("#addUserModalHolder").html(data);
                  $("#addUserModal").modal("show");
              }
          })
      }

      $(document).ready(function() {
          $('#clientsTable').DataTable();
          $('#managersTable').DataTable();
      } );
      //]]>
   </script>

</body>
</html>