<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/fontAwesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/DataTables/datatables.min.css"/>
	<title>Title</title>
</head>
<body class="bg-light-green color-grey1">

	<div id="addUserModalHolder">
		<div th:replace="register_client_modal :: addUserModal"></div>
	</div>

	<div th:replace="navbar :: navbar"></div>

	<div class="container m-top-50">
		<h4 class="text-uppercase">
			All Clients
		</h4>
	</div>

	<div class="container tabs">
	</div>
	
	<div class="container">
		<div>
			<div th:if="${clients.empty}">
				<div class="m-bot-10">There are no clients yet</div>
				<button class="btn btn-success" th:onclick="'javascript:openAddingModal();'">Add new client</button>
			</div>
			<div th:if="${!clients.empty}">
				<table id="clientsTable" class="table table-sm table-responsive">
					<thead>
						<tr class="table-light table-bg">
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phones</th>
							<th>Email</th>
							<th>Skype</th>
							<th>Facebook</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="client : ${clients}"
								  th:object="${client}"
								  th:if="${client.role == T(ua.kiev.prog.entities.others.UserRole).USER}"
								  >
							<tr class="table-light">
								<td th:text="${client.name}"></td>
								<td th:text="${client.surname}"></td>
								<td>
									<ul class="list-group">
										<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
									</ul>
								</td>
								<td th:text="${client.email}"></td>
								<td th:text="${client.skype}"></td>
								<td th:text="${client.facebook}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<button class="btn btn-success fl-r btn-newclient" th:onclick="'javascript:openAddingModal();'">Add new client</button>
			</div>
		</div>

	</div>

	<script src="/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/libs/popper/popper.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript" src="/libs/DataTables/datatables.min.js"></script>

	<script type="text/javascript">
        //<![CDATA[
        function openAddingModal() {
            $.ajax({
                url: '/clients/create',
                success: function (data) {
                    console.log(data);
                    $("#addUserModalHolder").html(data);
                    $("#addUserModal").modal("show");
                }
            })
        }

        $(document).ready(function() {
            $('#clientsTable').DataTable();
        } );
        //]]>
	</script>
</body>
</html>