<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/fontAwesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<title>Accounts</title>
</head>
<body class="bg-light-green color-grey1">

	<div class="modal fade" id="deleteUser" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirm deleting</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete the user?</p>
	      </div>
	      <div class="modal-footer">
			  <form method="POST" th:action="@{/admin/clients/delete(clientId=${client.id})}">
				  <button type="submit" class="btn btn-red">Delete</button>
			  </form>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="navbar_01">
		<div class="container">
			<div class="nav-left">Prog.LeadAuto</div>
			<div class="nav-right">
				<button onclick="dropUserBtn()" class="username-btn">User Name</button>
  				<div id="myDropdown" class="dropdown-content">
    			<a href="#">Profile</a>
    			<a href="/logout">Log Out</a>
  				</div>
			</div>
			<div class="clear_both"></div>
		</div>
	</div>

	<div class="container">
		<h4 class="text-uppercase allusers_01">
			All Users
		</h4>
		<div class="clients-managers tab">
			<button class="tablinks tablinks1 f-l" onclick="showClients(event, 'users')" id="defaultOpen">
				Clients
			</button>
			<div class="breadcrumb_01 f-l"></div>
			<button class="tablinks tablinks1 f-l" onclick="showClients(event, 'managers')">Managers</button>
		</div>
		<div class="clear_both"></div>
	</div>

	<div class="container tabs">
	</div>
	
	<div class="container">
		<div class="tabcontent" id="users">

			<div th:if="${numUsers} == 0">
				<div class="m-bot-10">There are no clients yet</div>
				<a class="btn btn-success" href="/clients/create">Add new client</a>
			</div>
			<div th:if="${numUsers} > 0">
				<table class="table table-sm table-responsive">
					<thead>
						<tr class="table-light table-bg">
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phones</th>
							<th>Email</th>
							<th>Skype</th>
							<th>Facebook</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="client : ${clients}"
								  th:object="${client}"
								  th:if="${client.role == T(ua.kiev.prog.UserRole).USER}"
								  >
							<tr class="table-light">
								<th th:text="${client.id}"></th>
								<td th:text="${client.name}"></td>
								<td th:text="${client.surname}"></td>
								<td>
									<ul class="list-group">
										<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
										<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
									</ul>
								</td>
								<td th:text="${client.email}"></td>
								<td th:text="${client.skype}"></td>
								<td th:text="${client.facebook}"></td>
								<td>
									<a class="btn btn-yellow f-l m-rig-5" th:href="@{/admin/clients/edit(clientId=${client.id})}">
										Edit
									</a>
									<form class="f-l" method="POST" th:action="@{/admin/clients/delete(clientId=${client.id})}">
										<button type="submit" class="btn btn-red">Delete</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-success fl-r" href="/clients/create">Add new client</a>
			</div>
		</div>

		<div class="tabcontent" id="managers">
			<div th:if="${numManagers} == 0">
				<div class="m-bot-10">There are no managers yet</div>
			</div>
			<div th:if="${numManagers} > 0">
				<table class="table table-sm table-responsive">
					<thead>
					<tr class="table-light table-bg">
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Phones</th>
						<th>Email</th>
						<th>Skype</th>
						<th>Facebook</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					<th:block th:each="client : ${clients}"
							  th:object="${client}"
							  th:if="${client.role == T(ua.kiev.prog.UserRole).MANAGER}">
						<tr class="table-light">
							<th th:text="${client.id}"></th>
							<td th:text="${client.name}"></td>
							<td th:text="${client.surname}"></td>
							<td>
								<ul class="list-group">
									<li class="list-group-item border-0 p-0" th:text="${client.phone}"></li>
									<li class="list-group-item border-0 p-0" th:text="${client.phone2}"></li>
									<li class="list-group-item border-0 p-0" th:text="${client.phone3}"></li>
								</ul>
							</td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.skype}"></td>
							<td th:text="${client.facebook}"></td>
							<td>
								<a class="btn btn-yellow f-l m-rig-5" th:href="@{/admin/clients/edit(clientId=${client.id})}">
									Edit
								</a>
								<form class="f-l" method="POST" th:action="@{/admin/clients/delete(clientId=${client.id})}">
									<button type="submit" class="btn btn-red">Delete</button>
								</form>
							</td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<script src="/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/libs/popper/popper.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript">
      //<![CDATA[
      function showClients(evt, name) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      console.log(tabcontent.length);
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(name).style.display = "block";
      evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();

      // Drop Down Menu
      function dropUserBtn() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
          if (!event.target.matches('.username-btn')) {

              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      }
      //]]>
   </script>

</body>
</html>