<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="modal fade" id="editUserModal" tabindex="-1" th:fragment="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form
                        th:action="@{/admin/clients/edit}"
                        th:object="${client}"
                        method="POST"
                        class="p-2"
                        id="signUpForm">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{phone}"
                                        type="text"
                                        class="form-control"
                                        id="phone"
                                        placeholder="Main phone"
                                        name="phone"
                                        required="required"/>
                                <span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{phone2}"
                                        type="text"
                                        class="form-control"
                                        id="phone2"
                                        placeholder="Phone 2"
                                        name="phone2"/>
                                <span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{phone3}"
                                        type="text"
                                        class="form-control"
                                        id="phone3"
                                        placeholder="Phone 3"
                                        name="phone3"/>
                                <span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{name}"
                                        type="text"
                                        class="form-control"
                                        id="inputFirstName"
                                        name="firstName"
                                        placeholder="First name"/>
                                <span class="input-group-addon">
	            	 	<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	            	 	</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{surname}"
                                        type="text"
                                        class="form-control"
                                        name="lastName"
                                        id="inputLastName"
                                        placeholder="Last name"/>
                                <span class="input-group-addon">
	            		<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	            		</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{email}"
                                        type="email"
                                        class="form-control"
                                        id="inputEmail"
                                        placeholder="Email"
                                        name="email"/>
                                <span class="input-group-addon">
				    		<i class="fa fa-envelope" aria-hidden="true"></i>
				    	</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{skype}"
                                        type="text"
                                        class="form-control"
                                        id="inputSkype"
                                        name="skype"
                                        placeholder="Skype"/>
                                <span class="input-group-addon">
			    			<i class="fa fa-skype" aria-hidden="true"></i>
			    		</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input
                                        th:field="*{facebook}"
                                        type="text"
                                        class="form-control"
                                        id="inputFacebook"
                                        name="facebook"
                                        placeholder="Facebook"/>
                                <span class="input-group-addon">
			    			        <i class="fa fa-facebook-square" aria-hidden="true"></i>
			    		        </span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-yellow"
                            id="edit">
                        Save changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>