<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/fontAwesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<title>Title</title>
</head>
<body class="bg-light-green color-grey">
<div class="vertical-center">
	<div class="container">
		<div class="text-center">
			<h2 class="p-2">
				Editing Client
			</h2>
			<form
					th:action="@{/admin/clients/edit}"
					th:object="${client}"
					method="POST"
					class="margin-0-auto form col-md-4  col-sm-6 col-xs-auto p-2"
					id="signUpForm">

				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{phone}"
								type="text"
							    class="form-control"
							    id="phone"
							    placeholder="Main phone"
							    name="phone"
							    required="required"/>
						<span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{phone2}"
								type="text"
								class="form-control"
								id="phone2"
								placeholder="Phone 2"
								name="phone2"/>
						<span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{phone3}"
								type="text"
								class="form-control"
								id="phone3"
								placeholder="Phone 3"
								name="phone3"/>
						<span class="input-group-addon">
							<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{name}"
								type="text"
							    class="form-control"
							    id="inputFirstName"
							    name="firstName"
							    placeholder="First name"/>
						<span class="input-group-addon">
	            	 	<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	            	 	</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{surname}"
							    type="text"
							    class="form-control"
							    name="lastName"
							    id="inputLastName"
							    placeholder="Last name"/>
						<span class="input-group-addon">
	            		<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	            		</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{email}"
								type="email"
							    class="form-control"
							    id="inputEmail"
							    placeholder="Email"
							    name="email"/>
						<span class="input-group-addon">
				    		<i class="fa fa-envelope" aria-hidden="true"></i>
				    	</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{skype}"
								type="text"
							    class="form-control"
							    id="inputSkype"
							    name="skype"
							    placeholder="Skype"/>
						<span class="input-group-addon">
			    			<i class="fa fa-skype" aria-hidden="true"></i>
			    		</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input
								th:field="*{facebook}"
								type="text"
							    class="form-control"
							    id="inputFacebook"
							    name="facebook"
							    placeholder="Facebook"/>
						<span class="input-group-addon">
			    			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			    		</span>
					</div>
				</div>

				<div class="form-group">
					<button type="submit"
							class="btn btn-dark-green btn-block"
							id="edit">
						Save changes
					</button>
					<a
							href="/clients/all"
							class="btn btn-secondary btn-block"
							id="cancel">
						Cancel
					</a>
				</div>

				<div th:if="${param.error != null}"
					 class="alert alert-danger">
					<strong>Oops! </strong>Something went wrong :(<br/>
					Please, try again later.
				</div>
			</form>
		</div>
	</div>
</div>

	<script src="/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>