<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="navbar" class="navbar_01">
        <div class="container">
            <div class="nav-left">Prog.LeadAuto</div>
            <div class="nav-right">
                <button onclick="dropUserBtn()" class="username-btn">User Name</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            <div class="clear_both"></div>
        </div>
    </div>
</body>
</html>