<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div style="text-align: center">
        Register new client
    </div>
    <div style="text-align: center; margin-top: 10px">
        <form th:action="@{/register}" th:object="${client}" method="post">
            Name: <input type="text" th:field="*{name}" /><br/>
            Surname: <input type="text" th:field="*{surname}" /><br/>
            Phone 1*: <input type="text" th:field="*{phone}" /><br/>
            Phone 2: <input type="text" th:field="*{phone2}" /><br/>
            Phone 3: <input type="text" th:field="*{phone3}" /><br/>
            Email: <input type="text" th:field="*{email}" /><br/>
            Skype: <input type="text" th:field="*{skype}" /><br/>
            Facebook: <input type="text" th:field="*{facebook}" /><br/>
            <br/>
            <input type="submit" value="Register" />
        </form>
    </div>
    <div align="center" style="text-align: center; margin-top: 10px">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <button><a href="/admin/clients/all">All clients</a></button>
        </div>
    </div>
    <div align="center" style="margin-top: 10px">
        <button><a href="/logout">Log out</a></button>
    </div>
</body>
</html>